<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Escribe tu nombre">
        </div>
        <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Escribe tu Correo">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Escribe tu Contraseña">
        </div>
        <div class="campo">
            <label>Confirma tu Contraseña</label>
            <input type="password" name="confirmar" placeholder="Escribe la confirmacion de Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>