<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Escribe tu correo" required>
        </div>
        <div class="campo">
            <label>Contrase침a</label>
            <input type="password" name="password" placeholder="Escribe tu contrase침a" required>
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear una cuenta</a>
            <a href="/reestablecer-pass">Olvide mi contrase침a</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesi칩n" class="btn btn-azul">
        </div>
    </form>
</main>