<mian class="contenedor">
    <form action="/vacantes/nueva" method="dialog" class="default-form">
        <div class="campo">
            <label>Titulo</label>
            <input type="text" name="titulo" placeholder="Ej: Node Developer" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="Empresa" placeholder="Ej: SEG" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="titulo" placeholder="Ej: CDMX" required>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="titulo" placeholder="Ej: $300" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                <option value="" disabled selected>-- Selecciona --</option>
                <option value="Freelance">Freelance</option>
                <option value="Timpo Completo">Timpo Completo</option>
                <option value="Medio Tiempo">Medio Tiempo</option>
                <option value="Por Proyecto">Por Proyecto</option>
            </select>
        </div>
        <h3>Descripcion del puesto</h3>
    </form>
</mian>