<main class="contenedor">
    <form action="/reestablecer-pass" method="post" class="default-form">
        <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Escribe tu correo" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Recorde mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Contraseña" class="btn btn-azul">
        </div>
    </form>
</main>